@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



/* Importar Playfair Display desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
body { font-family: 'SF Pro Display', sans-serif; }
/* Estilos personalizados */
.style-1 {
  @apply font-sf-pro-display font-medium text-24 leading-24 text-606060;
}

.style-2 {
  @apply font-sf-pro-display font-normal text-18 leading-32 text-f5f5f5;
}

.style-3 {
  @apply font-sf-pro-display font-bold text-20 leading-32 text-f5f5f5;
}

.style-4 {
  @apply font-playfair-display font-bold text-60 leading-64 text-131313;
}

.style-5 {
  @apply font-sf-pro-display font-medium text-16 leading-24 text-131313;
}

/* Font face para SF Pro Display */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/src/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/src/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/src/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}
html{
  font-size: clamp(12px, 2vw, 18px);
}

:root {
  font-family: var(--unnamed-font-family-sf-pro-display), Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('./fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

/* Para Playfair Display (desde Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');





html {

  font-family: var(--unnamed-font-family-sf-pro-display);
  /* Por defecto, SF Pro Display */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
